# Univariate and Multivariate on given data to analyse the dataset

In [1]:
import pandas as pd
from sklearn.datasets import fetch_openml

In [13]:
data = fetch_openml(data_id=40945, as_frame=True) # fetching the titanic dataset from openml
print(data.data.head())

   pclass                                             name     sex      age  \
0       1                    Allen, Miss. Elisabeth Walton  female  29.0000
1       1                   Allison, Master. Hudson Trevor    male   0.9167
2       1                     Allison, Miss. Helen Loraine  female   2.0000
3       1             Allison, Mr. Hudson Joshua Creighton    male  30.0000
4       1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000

   sibsp  parch  ticket      fare    cabin embarked boat   body  \
0      0      0   24160  211.3375       B5        S    2    NaN
1      1      2  113781  151.5500  C22 C26        S   11    NaN
2      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [ ]:
%pip install ydata-profiling seaborn pandas numpy

In [17]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
sns.set_theme(style='darkgrid')
plt.show()
sns.color_palette()

C:\Users\sangh\AppData\Local\Temp\ipykernel_5740\3746392572.py:7: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

[(0.2980392156862745, 0.4470588235294118, 0.6901960784313725),
 (0.8666666666666667, 0.5176470588235295, 0.3215686274509804),
 (0.3333333333333333, 0.6588235294117647, 0.40784313725490196),
 (0.7686274509803922, 0.3058823529411765, 0.3215686274509804),
 (0.5058823529411764, 0.4470588235294118, 0.7019607843137254),
 (0.5764705882352941, 0.47058823529411764, 0.3764705882352941),
 (0.8549019607843137, 0.5450980392156862, 0.7647058823529411),
 (0.5490196078431373, 0.5490196078431373, 0.5490196078431373),
 (0.8, 0.7254901960784313, 0.4549019607843137),
 (0.39215686274509803, 0.7098039215686275, 0.803921568627451)]

In [11]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
profile = ProfileReport(titanic, title='Titanic Report') # this gives entire profile of the data like no of missing values, zeros etc.
profile.to_file('titanic_report.html')
# profile.to_notebook_iframe()

# EDA on multivariate data

### 1. Histplot

In [20]:
# sns.histplot(data=titanic, x='age', hue='sex')
plt.figure()
sns.kdeplot(titanic['age'])
plt.show()
# this plots the PDF (probability density function wrt age), so it means, if age is 20, density is 0.015,
# and hence the probability of a person being alive (target) of age 20 would be 0.15

C:\Users\sangh\AppData\Local\Temp\ipykernel_5740\1271296796.py:4: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [14]:
sns.scatterplot(data=titanic, x='age', y='fare', hue='survived', style='sex', size='fare' )

In [15]:
sns.barplot(data=titanic, x='pclass', y='age', hue='sex')